.bg-image .filter-blur img{
    width:100%;
    position: relative;
}
#navbar{
    position:static;
    top:0;
    left: 0;
}
.h h1{
    position: absolute;
    top:40%;
    left:37%;
    font-family: monospace;
    font-weight: 100;
    color: white;
    font-size: 50px;
}
.h h2{
    position: absolute;
    top:50%;
    left:39%;
    color: white;
    font-size: 15px; 
    letter-spacing: 10px;
}
#about{
   display: flex;
   justify-content: center;
   margin:30px;
}
#about a{
    text-decoration: none;
    margin-left: 20px;
    font-size: 24px;
    color:black;
    font-weight: 300;
    
}
.brand{
    margin:4% 9%;
}
.brand h1{
    margin-bottom:3%
}
.brand p{
    margin-left: 4%;
    margin-bottom:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.brand h1{
    position: relative;
    display: inline-block;
}
.brand h1::after{
    content: '';
    position:absolute;
    width:30%;
    left:0;
    bottom:-8px;
    height:3px;
    background-color:red;
    border-radius:40px;
}
.feature1{
    display:grid;
}
.feature h1{
    margin:1% 8%;
    position: relative;
    display: inline-block;
}
.feature h1::after{
    content: '';
    position:absolute;
    width:30%;
    left:0;
    bottom:-8px;
    height:3px;
    background-color:red;
    border-radius:40px;
}

.feat ,.feat2{
margin-left:20%;

}
.RentoMojo {
    width: 100%;
    background-color: #F5F7FA;
    margin-top: 100px;
    padding: 100px 5% 0 5%;
    color: #717171;

}

#footer {
    display: flex;
    background-color: #F5F7FA;
    ;
    /* font-weight: bold; */
}

#sideRhs {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* width: 80%; */
    gap: 20px;
    /* margin-left: auto; */
    text-align: left;
    padding-left: 1%;
    cursor: pointer;
    width: 75%;
}

#sideRhs div {
    margin-top: 5px;
}

.head {
    font-weight: bold;
}

#last_portion {
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
    align-items: center;
}

#border {
    border: 1px solid;
    width: 200px;
    height: 40px;
    text-align: center;
    padding-top: 5px;
    border-radius: 5px;
}

.yt {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #717171;
    border-color: #717171;
}

.linke {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #717171;
    border-color: #717171;
}

.twitt {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #717171;
    border-color: #717171;

}

.fac {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    color: #717171;
    border-color: #717171;
}

.color {
    color: #717171;
    text-decoration: none;

}

.color:hover {
    text-decoration: underline;
    color: #717171;
    ;
}

#greater1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#less1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}