#boxes{
    display: flex;
    width:150vh;
}

#boxes #box2{
    position: fixed;
    right:0;
    top:17%;
}
#boxes .delivery{
margin-top:20px;
font-size: 20px;
}

#box2 p{
    margin:40px 137px;
    font-size:150%;

}
#box2 h6{
    font-size: 15px;
    font-weight: 100;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
    padding:10px;
    background-color: rgb(229, 245, 240);
}
.covidinfo{
    display: flex;
    margin:40px 70px;
    border:1px solid black;
    width:70%
}
.covidinfo img{
    width:48px
}
.covidinfo button{
    border:none;
    background: transparent;
    font-weight: bold;
    width:20%;
    cursor: pointer;
}
.covidinfo button a{
    color:black;
    text-decoration: none;
}
.content h1{
    font-weight: 200;
    margin-left:40px;
}
.content h1::after{
    content: '';
    margin-left:10px;
    position:absolute;
    width:4%;
    left:0;
    bottom:-80px;
    height:3px;
    background-color:rgb(183, 62, 62);
    border-radius:40px;
    margin-left:50px;
}
.maincontent{
    display: flex;
    margin-top:20px;
}
.maincontent .content-left img{
    width:40vh;
    margin-left:30px;
}
.maincontent .content-right h3{
    margin-left:7%;
    font-weight: 500;
}
.maincontent .content-right h3::after{
    content: '';
    margin-left:10px;
    position:absolute;
    width:2.5%;
    left:25.3%;
    bottom:-120px;
    height:3px;
    background-color:gray;
    border-radius:40px;
}
.content-right p{
    margin-left:9%;
    width:70%;
    margin-top:15px;
}
.feature{
    display:flex;
    margin-left:9%;
    margin-top:10px;
}
.feature p{
    width:100%;
} 
.feature li{
    color:gray;
    margin-top:10px;
}
.feature .feature2{
    margin-left:30%
}
.feature .feature2 li{
    color:gray;
    line-height: 30px;
}
.feature .color h3{
    margin-top:10px;
}
.price p span{
    color:gray;
}
.price{
    display: flex;
}
.extrapro h1,p{
    margin-left:30px;
}
.extrapro{
    margin-top:70px;
}
.extrapro::after{
    content: '';
    margin-left:10px;
    position:absolute;
    width:5%;
    left:30px;
    bottom:-53%;
    height:3px;
    background-color:rgb(183, 62, 62);
    border-radius:40px;
}
.extrapro h1{
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 160%;
}
.extrapro p{
    line-height: 25px;
}
.bookplan{
    background-color: rgb(203, 53, 53);
    color:white;
    outline: none;
    border: none;
    padding:20px;
    width:80%;
    margin-left:40px;
    cursor:pointer;
}
#box2 .p{
    font-size: 14px;
    margin-left: 50px;
    color:gray;
}
#box2 .p .fa-solid,.bookplan .fa-solid{
   margin-right:10px
}
.card{
    display:flex;
    gap:60px;
    margin:20px 30px;
}
.subcard h3{
    margin-top:20px;
    margin-left:20px;
}
.subcard img{
    width:30%;
    height:100%;
    margin-left:20px
}
.checkp{
    display:flex;
}
.checkp p{
    margin-top:20px
}
.sub button{
    color:blue;
    margin-top:10px;
    margin-left:30px;
    border:none;
    cursor:pointer;
}
.sub {
    display:flex;

}

